* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('../images/starry-night-sky.jpg');
}



.card {
    width: 50%;
    max-width: 470px;
    background: linear-gradient(90deg, #059862, #7FFFD4);
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px 20px;
    text-align: center;
    max-height: 400px;
}

/*Adjusting style of search div */
.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Adjusting Style of text box for search */
.search input {
    color: blue;
    padding: 10px 10px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

/* Water Icon */
.water-icon {
    background:#059862
}

/* Col Flex */
.details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* City spacing and margins */
.city {
    padding: 0px 10px 10px 10px;
}

.col {
    padding: 10px 10px 10px 10px;
}

/* Text Styles for humidity and wind */
.humidity, .wind {
    font-size: 24px;
}

/* Header Styling */
.header {
    background: rgba(72, 101, 129, 0.8); 
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Main Section */
.main-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}
